@import url('https://fonts.googleapis.com/css2?family=Holtwood+One+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Holtwood+One+SC&family=Rubik:ital,wght@0,300;1,300&display=swap');
*{
    margin:0;
}
body{ 
    height:120vh;

    overflow-y:scroll;
}
body::-webkit-scrollbar{
    width:10px;
}
body::-webkit-scrollbar-track {
    background:linear-gradient(47deg, #13678A 45%, #012030 55%);        
}
body::-webkit-scrollbar-thumb {
    background-color: #45C4B0;    
    border-radius: 20px;       
}
.contain,
#header,
#main,
#footer{
    height:100%;
    width:100%;
}
.contain{
    display:grid;
    grid-template-columns:100%;
    grid-template-rows:20% 95% 5%;
    grid-template-areas:'header header'
                        'main     main'
                        'footer footer';
}
#header,
#line,
#footer{
    background:linear-gradient(47deg, #13678A 45%, #012030 55%);
}
#header,
#footer{
    font-family:'Holtwood One SC', serif;
    color:whitesmoke;
}
#header p{
    color:#9AEBA3;
    text-shadow: rgba(0,0,0,0.5) 5px 0;
    letter-spacing:1px;
}
#header{
    grid-area:header;

    padding:2vh;

    display: flex;
    flex-direction: column;
}
#main{
    grid-area:main;

    font-family: 'Rubik', sans-serif;

    display:grid;
    grid-template-columns:100%;
    grid-template-rows:35% 65%;
    grid-template-areas:'form  form'
                        'card  card';
}
#main #form{
    padding:3vh;
}
#footer{
    grid-area:footer;

    display:flex;
    flex-direction:row;
    justify-content:center;
    text-align:center;
}
#footer p{
    font-size:small;
    margin-top:1vh;
}
#footer p a{
    text-decoration:none;
    color:whitesmoke;
}
#form{
    grid-area:form;
}
#card{
    grid-area:card;
    background-color:#012030;
    color:#9AEBA3;
    padding:3vh;

    overflow-y:scroll;

    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:space-evenly;
}
#card span{
    /* border: solid 1px #9AEBA3; */
    border-radius:6px;
    height:200px;
    width:350px;
    box-shadow:inset 0 0 1em #9AEBA3, 0 0 2em #DAFDBA;
    background:#13678A;
    padding:1em;
}
#card::-webkit-scrollbar{
    width:10px;
}
#card::-webkit-scrollbar-track {
    background:linear-gradient(47deg, #13678A 45%, #012030 55%);        
}
#card::-webkit-scrollbar-thumb {
    background-color: #45C4B0;    
    border-radius: 20px;       
}
#title{
    height:5px;
    margin-top:0.5vh;
    margin-bottom: 10vh;
}
#anotation{
    height:5px;
    margin-bottom: 10vh;
}
#out{
    color:red;
    cursor:pointer;
}
#app_data,
#user_data{
    width: 100%;
    height: 50%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#app_data{
    height: 30%;
    border-radius:6px;
    background-color: #012030;
    padding:1vh;
}
#user_data{
}
#user_img{
    font-size:8vh;
}
#id_user,
#username,
#email{
    margin-top:0.2vh;
}
@media screen and (max-device-width:768px) 
              and (orientation: portrait){
    .contain{
        display:grid;
        grid-template-columns:100%;
        grid-template-rows:30% 85% 5%;
        grid-template-areas:'header header'
                            'main     main'
                            'footer footer';
                }
    #header #app_data{
        height:40%;
    }
    #header #user_data{
        flex-direction:column;
        justify-content:center;
        align-items: center;
    }
    #header #out{
        font-size:2rem;
    }
    #header p{
        font-size:small;
    }
    #insert{
        width:100%;
    }   
    #header #id_user{
        display:none;
 }  
}
@media screen and (max-device-width:768px) 
              and (orientation: landscape){
    body{ 
        height:150vh;
    }
    .contain{
        display:grid;
        grid-template-columns:100%;
        grid-template-rows:30% 115% 5%;
        grid-template-areas:'header header'
                             'main     main'
                             'footer footer';
    }
    #header #app_data{
        height:30%;
    }
    #header #user_data{
        flex-direction:column;
        justify-content:center;
        align-items: center;
    }
    #header #out{
        font-size:2rem;
    }
    #insert{
        width:100%;
    }
    #title, #anotation{
        height:60px;
        margin-bottom: 4vh;
    }    
}
@media screen and (max-device-width:745px) 
              and (orientation: landscape){
        #header #id_user{
            display:none;
     }      
}
@media screen and (max-device-width:658px) 
              and (orientation: landscape){
        #header #email{
            display:none;
     }      
}

