@import url('https://fonts.googleapis.com/css2?family=Holtwood+One+SC&display=swap');
*{
    margin:0;
}
body{ 
    height:120vh;

    overflow-y:scroll;
}
body::-webkit-scrollbar{
    width:10px;
}
body::-webkit-scrollbar-track {
    background:linear-gradient(47deg, #13678A 45%, #012030 55%);        
}
body::-webkit-scrollbar-thumb {
    background-color: #45C4B0;    
    border-radius: 20px;       
}
.contain,
#header,
#main,
#footer{
    height:100%;
    width:100%;
}
.contain{
    display:grid;
    grid-template-columns:100%;
    grid-template-rows:20% 95% 5%;
    grid-template-areas:'header header'
                        'main     main'
                        'footer footer';
}
#header,
#line,
#footer{
    background:linear-gradient(47deg, #13678A 45%, #012030 55%);
}
#header,
#footer{
    font-family:'Holtwood One SC', serif;
    color:whitesmoke;
}
#header{
    border:5px solid red;
    grid-area:header;
    overflow: hidden;

    display: flex;
    flex-direction: column;
}
#main{
    border:solid 5px green;
    grid-area:main;

    display:grid;
    grid-template-columns:100%;
    grid-template-rows:50% 50%;
    grid-template-areas:'form  form'
                        'card  card';

}
#main #form{
    padding:3vh;
}
#footer{
    border:solid 5px yellow;
    grid-area:footer;

    display:flex;
    flex-direction:row;
    justify-content:center;
    text-align:center;
}
#footer p{
    font-size:small;
    margin-top:1vh;
}
#footer p a{
    text-decoration:none;
    color:whitesmoke;
}
#line{
    height:0.5vh;
    border-radius:48%;
}
#form{
    grid-area:form;
}
#card{
    grid-area:card;
    background-color:whitesmoke;

    overflow-y:scroll;
}
#card::-webkit-scrollbar{
    width:10px;
}
#card::-webkit-scrollbar-track {
    background:linear-gradient(47deg, #13678A 45%, #012030 55%);        
}
#card::-webkit-scrollbar-thumb {
    background-color: #45C4B0;    
    border-radius: 20px;       
}
#title{
    height:5px;
    margin-top:0.5vh;
    margin-bottom: 10vh;
}
#anotation{
    height:5px;
    margin-bottom: 10vh;
}
#insert{
    
}
#out{
    color:red;
    cursor:pointer;
}
#app_data{
    border:solid 1px red;
    grid-area:app_data;

    width: 100%;
    height: 50%;

    display: flex;
    flex-direction: row;
}
#user_data{
    border:solid 1px red;
    grid-area:user_data;

    width: 100%;
    height: 50%;

    display: flex;
    flex-direction: row;
}
