<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="http://localhost:3003/static/account/index.css">
    <title>App&reg;</title>
</head>
<body>
    
    <div class="container">
        <figure class="figure">
            <img src="http://localhost:3003/static/images/step.png" class="figure-img img-fluid rounded" alt="...">
        </figure>

        <div class="input-group mb-3">
            <input type="text" class="form-control" id="username" placeholder="username" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
        </div>

        <div class="input-group mb-3">
            <input type="text" class="form-control" id="email" placeholder="email" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
        </div>

        <div class="input-group mb-3">
            <input type="password" class="form-control" id="pass" placeholder="password" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
        </div>

        <button type="button" class="btn btn-primary" id="signup">signup</button>

        <div class="container-bottom">
               <strong>do you have an account?<a href="http://localhost:3003/app/login">login</a></strong>
        </div>

        <div class="alert alert-danger"  id="error-message" role="alert"></div>
        <div class="alert alert-primary" id="success-message" role="alert"></div>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="http://localhost:3003/static/account/index.js"></script>
</body>
</html>

