*{
    margin:0;
}
body{
    max-height:150vh;
    width:100vw;
    padding:5vh;
}
#signup{
    width:100%;
}
.container-bottom{
    margin-top:3vh;
    text-align:center;
}
.container-bottom a{
  text-decoration:none;
  margin-left:1vh;
}
#error-message{
    margin-top:3vh;
    margin-bottom:3vh;
    text-align:center;
}